*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
}
/*
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng(Kiểu chữ)
*/

/* 1.Làm theo nguyên tắc từ ngoài vào trong
   2.Từ trên xuống dưới
   3.Từ tổng quan đến chi tiết*/


#main   {


}
#header {
    height: 46px;
    background-color: black; 
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1;




}
#nav
{
    display: block;
}


#nav , .subnav{
    list-style-type: none;
}
#nav > li{
display: inline-block;
}
#nav li{
    position: relative;
}

#nav > li > a
{
    color:#ffff;
    text-transform: uppercase;
}
#nav li a{


    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    /* display: inline-block; */
    display: block;


}
#nav li:hover>a{

 background-color:#fff;
 width: inherit;
 color: #000;


}
#nav li:hover .subnav
{
    background-color:#fff;
    color:#000;
       display:block;
}
#nav .subnav li:hover a 
{
    color: #fff;
   background-color:#ccc;

}

#nav .subnav
{
/* display: none; */
min-width:160px ;
position:absolute;
background-color: #333;
box-shadow: 0px 0px 10px #888888;
display: none;

}
#nav .subnav a{
    color:#000;
    padding: 0 16px;
    line-height: 38px;
}
#nav .ti-angle-down
{
    font-size: 14px;
}
#header .mobile-menu-btn,
#header .search-btn
{
float: right;
line-height: 46px;
top: 0px;
    right: 0px;
    position: absolute;
}

#header .mobile-menu-btn
{
    display: none;
}

#header .menu-icon,
#header .search-icon
{
    color: #FFF;
    font-size: 20px;
   padding: 0px 16px;

}
#header .mobile-menu-btn:hover {
    background-color: #ccc;

}

#header .mobile-menu-btn:hover .menu-icon
{
color: #000;
}
#header .search-btn:hover
{
    background-color: red;
    cursor:pointer ;

}
/* Slider */

#slider {
   margin-top: 46px;
     padding-top:50% ;
     background: url('../img/slider/slider_1.jpg') top center / cover no-repeat ;
}
#slider .text-content
{
    position:relative;
    bottom: 47px;
    color:white;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: 100;


}
#slider .text-heading
{

    font-weight: 500;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
}
#slider .text-description
{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
padding-top: 25px;
text-shadow: 0 0  3px #009688;
}
/* Content */




#content    {
    padding: 32px 0px;

}

#content .content-section
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%; 
    
}
#content .section-heading
{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 20px;

}



#content .section-subheading
{
    padding: 12px;
    text-align: center;
    font-size:15px;
    opacity: 0.7;
    font-style: italic;
    opacity: 0.4;



}
#content .about-text
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 15px;
    line-height: 1.4;
    text-align: justify;
} .content-section .member-list
{
    /* padding-top: 32px; */
    overflow: hidden;
}

#content .member-name
{
    font-size: 15px;
    text-align: center;
}

#content .member-img
{
    padding-top: 15px;
    width: 144px;
    border-radius: 5px;
}
/*Begin Common */
.btn:hover
{
    cursor: pointer;
    background-color: #888888;
    color: #000;
}
.btn
{

    text-decoration: none;
    background-color: #000;
    color: #FFF;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 25px;
    border: none;
    -webkit-appearance: none;
 
    


}
.clear
{
    clear: both;
}
.row
{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col
{
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-third
{
    width: 33.3333%;
}
.col-half
{
    width: 50%;
}
.col-full
{
    width: 100%;
}
.text-center
{
    text-align: center !important;
}
.tour-section
{
    background-color: #000;
    padding-top: 0px;
    margin-top: 40px;
    padding-bottom: 50px;

}
.text-white
{
    color: #FFF  ;
    
}
.mt-8
{
    margin-top: 8px !important;
}
.mt-16
{
    margin-top: 16px !important;
}
.mt-32
{
    margin-top: 32px !important;
}
.pull-right
{
    float: right !important;
}
/* End Common */
/* Begin Main */
.tickets-list
{
background-color: #FFF;
}
.tickets-list li
{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
    color:#757575;
    
    
}
.tickets-list .sold-out
{
    background-color: red;
    color: #FFF;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity
{
    background-color:black;
    border-radius: 50%;
    padding: 3px 4px;
    margin-left: 16px;
   width: 24px;
   height: 24px;
   text-align: center;
   margin: -1px;
   float: right;
   color: #FFF;

    
}
/* Tour */
.place-list{
margin-bottom: 16px;
margin-top: 16px;
}

.place-img
{
width: 100%;
display: block;
}
.place-img:hover
{
    opacity: 60%;
}
.place-body
{
background-color: #FFF;
padding: 16px;
font-size: 15px;
}
.play-heading
{
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}
.play-time
{
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #757575;
    

}
.play-description
{
    margin-top: 15px ;
}

.place-buy-btn:hover{
    background-color: #bbbaba;
    color: #000;

}

/* Modal */

/* Footer */
.modal
{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal.js-modal.open 
{
    display: flex;
}
.modal-container
{
    background-color: #FFF;
    min-height: 200px;
    width: 900px;
    max-width: calc(100%-32px);
    position: relative;
    animation: modalFadeIn ease 1s;


}

.model-header
{
    background-color: #009688;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: #FFF;
}
.modal .content-header
{
    padding: 4px;
    margin: 16px;
}
.ti-close
{
    right: 0;
    height: 0;
    position: absolute;
    color: #FFF;
    padding: 12px;
    cursor: pointer;
   
}
.ti-close:hover
{
    opacity: 0.7;
}
.modal-body{
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 4px;
}
.modal-body .modal-input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 20px;
}
.modal-body #buy-tickets
{
    width: 100%;
    background-color: #009688;
    min-height: 35px;
    border: none;
    padding:16px;
    margin:16px 0;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
}
.modal-body #buy-tickets:hover
{
    opacity: 70%;
    background-color: #ccc;
    color: #000;
    
}
.modal-footer a
{
    color: rgb(33, 150, 243)
}
.modal-footer .modal-help
{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;

}
.footer-close
{


 

}
.fa fa-remove
{
    display: inline-block;
}

.footer-close-content
{

}
@keyframes modalFadeIn
{
    from 
    {
        transform: translateY(-100px);
    }
    to 
    {
        transform: translateY(0);
    }
}


/*Begin Contact */
.contact-info
{
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i[class*="ti-"]
{
    width:30px ;
    display: inline-block;
}
.contact-info a{
    color: #3ba1eb;
}
.contact-form
{
    padding: 32px 0px;
    font-size: 17px;
}
.contact-form .form-control
{
    padding: 10px;
    border: #ccc solid 1px;
    width: 100%;
    outline:invert;
}
/* .contact-form .form-submit-btn
{
    width: 72px;
    height: 38px;
    color: #FFF;
    font-weight: 500;
    background-color:#000;
    border: #000 solid 1px;
    text-transform: uppercase;
    float: right;
    padding: 8px 16px;

} */
/*End Contact */


/*Begin Map section */
.map-section img
{
    width: 100%;
}
/* End Map Section */
#footer {
    padding: 64px 16px;
    text-align: center;


}
#footer .list-social 
{
    font-size: 24px;
    padding: 16px;
    
    
}
#footer .list-social a
{
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
    
}
#footer a.w3-link,
#footer .list-social a:hover
{
  color: rgba(0, 0, 0, 0.3);
    
}
#footer p
{
    padding: 16px;
}
#footer a.w3-link {
    color: black;


}
html{
    scroll-behavior: smooth;
}